/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

html, body {
  min-height: 100%;
  margin: 10;
  padding: 10;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url("../../assets/images/mountains-pexels.webp");
  background-size: cover;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1000;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #999A8F;
  width: 100%;
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #0A3641;
}

.nav-logo {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
}

bg-logo {
  display: flex;
  object-position: center;
  height: 100px;
  width: auto;
  padding-top: 100px;
  padding-left: 300px;
}

bg-logo-image {
width: 10px;
height: auto;
}

main {
  background-color:#D9D9CF;
}

h1 {
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  color: #0A3641;
}

best-products {
display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 100px;
  padding-right: 100px;
}

best-products img {
  width: 100px;
  height: auto;
}