/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  background-image: url("../../assets/images/mountains-pexels.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

