/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

* {
  font: Inria Sans;
}

body {
  background-image: url("../../assets/images/mountains-pexels.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  width: 100%;
  background-color: #0A3641;
  position: fixed;
  top: 0;
  width: 100%;
  background-repeat: repeat;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #D9D9CF;
}

.bg-logo {
  height: auto;
  width: 50%;
  object-fit: cover;
  object-position: center;
}

.bg-logo img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: 35%;
  margin-right:auto;
  margin-top: 10%;
}
